<div class="card bg-dark text-white">

  <div class="card-header">
    {{ titulo }}
  </div>

  <div class="card-body">
    <form>
      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" >
        </div>
       </div>

        <div class="form-group row">
        <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido" >
        </div>
        </div>

        <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.email" name="email" >
        </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <button role="button" (click)='create()' *ngIf="!cliente.id else elseBlock" class="btn btn-primary">Crear</button>
            <ng-template #elseBlock>
              <button role="button" (click)='update()' class="btn btn-primary">Editar</button>
            </ng-template>
          </div>
        </div>

      </form>
      </div>
  </div>
